<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Nazwa utworu</label>
        <input type="text" class="form-control" formControlName="title" #title [(ngModel)] = "pieceOfMusic.title" />
      </div>
      <div *ngIf="angForm.controls['title'].invalid && (angForm.controls['title'].dirty || angForm.controls['title'].touched)" class="alert alert-danger">
          <div *ngIf="f.title.errors.required">Nazwa utworu jest wymagana</div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Nazwa wykonawcy</label>
        <input type="text" class="form-control" formControlName="composer" #composer [(ngModel)] = "pieceOfMusic.composer" />
      </div>
      <div *ngIf="angForm.controls['composer'].invalid && (angForm.controls['composer'].dirty || angForm.controls['composer'].touched)" class="alert alert-danger">
          <div *ngIf="f.composer.errors.required">Nazwa wykonawcy jest wymagany</div>
      </div>

      <div class="form-group">
        <button (click)="updatePieceOfMusic(title.value, composer.value)"
                [disabled]="angForm.invalid"
                class="btn btn-primary">Zapisz zmiany</button>
      </div>
    </form>
  </div>
</div>
