<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Wykonawca</label>
        <select class="form-control" formControlName="performer" #performer [(ngModel)]="concert.performer">
          <option *ngFor="let perf of getPerformers()" [ngValue]="perf">{{perf.details}}</option>
        </select>
      </div>
      <div *ngIf="angForm.controls['performer'].invalid && (angForm.controls['performer'].dirty || angForm.controls['performer'].touched)" class="alert alert-danger">
          <div *ngIf="f.performer.errors.required">Wykonawca jest wymagany</div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Tytuł</label>
        <input type="text" class="form-control" formControlName="title" #title [(ngModel)]="concert.title"/>
      </div>
      <div *ngIf="angForm.controls['title'].invalid && (angForm.controls['title'].dirty || angForm.controls['title'].touched)" class="alert alert-danger">
          <div *ngIf="f.title.errors.required">Tytuł jest wymagany</div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Koszty organizacji</label>
        <input type="number" class="form-control" formControlName="organizationCosts" #organizationCosts [(ngModel)]="concert.organizationCosts"/>
      </div>
      <div *ngIf="angForm.controls['organizationCosts'].invalid && (angForm.controls['organizationCosts'].dirty || angForm.controls['organizationCosts'].touched)" class="alert alert-danger">
          <div *ngIf="f.organizationCosts.errors.required">Koszt organizacji jest wymagany</div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Cena biletu</label>
        <input type="number" class="form-control" formControlName="ticketCosts" #ticketCosts [(ngModel)]="concert.ticketCosts"/>
      </div>
      <div *ngIf="angForm.controls['ticketCosts'].invalid && (angForm.controls['ticketCosts'].dirty || angForm.controls['ticketCosts'].touched)" class="alert alert-danger">
          <div *ngIf="f.ticketCosts.errors.required">Cena biletu jest wymagana</div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Data</label>
        <input type="date" class="form-control" formControlName="date" #date [(ngModel)]="concert.date" [valueAsDate]="concert.date"/>
      </div>
      <div *ngIf="angForm.controls['date'].invalid && (angForm.controls['date'].dirty || angForm.controls['date'].touched)" class="alert alert-danger">
          <div *ngIf="f.date.errors.required">Data jest wymagana</div>
      </div>
      <div class="form-group">
        <button (click)="updateConcert(performer.value, title.value, organizationCosts.value, ticketCosts.value, date.value)"
                [disabled]="angForm.invalid"
                class="btn btn-primary">Zapisz zmiany</button>
      </div>
    </form>
  </div>
</div>
