<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Lp.</th>
    <th scope="col">Wykonawca</th>
    <th scope="col">Tytuł</th>
    <th scope="col">Koszt organizacji</th>
    <th scope="col">Koszt biletu</th>
    <th scope="col">Data</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let concert of concerts">
    <th scope="row">{{concert.idConcert}}</th>
    <td>{{concert.concertPerformers}}</td>
    <td>{{concert.concertTitle}}</td>
    <td>{{concert.additionalOrganisationCosts}}</td>
    <td>{{concert.ticketCost}}</td>
    <td>{{concert.date}}</td>
    <td><div class="btn-group" role="group" aria-label="Basic example">
      <a class="btn btn-info btn-sm" [href]="'manage/Concert/edit/' + concert.idConcert">Edytuj</a>
      <button type="button" class="btn btn-danger btn-sm" (click)="deleteConcert(concert)">Usuń</button>
    </div></td>
  </tr>
  </tbody>
</table>

<a class="btn btn-success" href="manage/Concert/add">Dodaj</a>
