<div class="col-sm-6 offset-sm-3 text-center">
  <h3>Wybierz miejsce do siedzenia</h3> <br>
  <div class="card card-body" style=" margin-left: 20%; width: 60%"><h4>Scena</h4></div>
  <br>
  <div *ngFor="let row of seats" style="height: 40px">
    <div class="btn-group btn-group-toggle">
      <div *ngFor="let column of row" style="display:inline-block; width: 50px">
        <div *ngIf="column.isAvaible && !column.isSelected" style="display:inline-block;">
          <button class="btn btn-primary" (click)="selectSeat(column)">{{column.id | number: '2.0-0'}}</button>
        </div>
        <div *ngIf="column.isAvaible && column.isSelected" style="display:inline-block;">
          <button class="btn btn-success" (click)="selectSeat(column)">{{column.id | number: '2.0-0'}}</button>
        </div>
        <div *ngIf="!column.isAvaible" style="display: inline-block">
          <button class="btn btn-danger" disabled>{{column.id | number: '2.0-0'}}</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <ul class="list-group">
    <ng-container *ngFor="let ticket of purchase.tickets;let i = index;trackBy:trackByIndex;">
        <li class="list-group-item">
          Miejsce: {{ticket.seatRow}}{{ticket.seatCol}}
          <select id="inputState" class="form-control custom-select custom-select-sm">
            <option *ngFor="let d of discounts" [value]="d" (click)="setDiscount(ticket, d.name)">{{d.name}}</option>
          </select>
        </li> <br>
    </ng-container>
  </ul>

  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon3">Adres email</span>
    </div>
    <input type="text" class="{{email.invalid ? 'form-control is-invalid' : 'form-control is-valid'}}"
           [(ngModel)]="purchase.email" name="email" id="email" required email #email="ngModel">
    <div class="input-group-append">
      <button class="btn btn-success" type="button" (click)="purchaseTicket()"
              [disabled]="email.invalid || purchase.tickets.length===0">Kup</button>
    </div>
  </div>
  <h6 style="color: crimson">Uwaga! Po kliknięciu kup masz 5 minut na opłacenie biletów. To tym czasie rezerwacja zostanie automatycznie anulowana</h6>
</div>
