<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Lp.</th>
    <th scope="col">Kompozytor</th>
    <th scope="col">Tytuł</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let pom of piecesOfMusics">
    <th scope="row">{{pom.id}}</th>
    <td>{{pom.composer}}</td>
    <td>{{pom.title}}</td>
    <td><div class="btn-group" role="group" aria-label="Basic example">
      <a class="btn btn-info btn-sm" [href]="'manage/PieceOfMusic/' + pom.id">Edytuj</a>
      <button type="button" class="btn btn-danger btn-sm" (click)="deletePerformer(pom)">Usuń</button>
    </div></td>
  </tr>
  </tbody>
</table>

<a class="btn btn-success" href="manage/PieceOfMusic/add">Dodaj</a>
