<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Lp.</th>
    <th scope="col">Suma transakcji</th>
    <th scope="col">Stan konta po transakcji</th>
    <th scope="col">Nazwa transakcji</th>
    <th scope="col">Szczegóły transakcji</th>
    <th scope="col">Data</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let transaction of transactions">
    <th scope="row">{{transaction.id}}</th>
    <td>{{transaction.sum}}</td>
    <td>{{transaction.amount}}</td>
    <td>{{transaction.title}}</td>
    <td>{{transaction.details}}</td>
    <td>{{transaction.date.toLocaleDateString()}}</td>
    <td><div class="btn-group" role="group" aria-label="Basic example">
      <a class="btn btn-info btn-sm" [href]="'manage/Transaction/edit/' + transaction.id">Edytuj</a>
      <button type="button" class="btn btn-danger btn-sm" (click)="deleteTransaction(transaction)">Usuń</button>
    </div></td>
  </tr>
  </tbody>
</table>

<a class="btn btn-success" href="manage/Transaction/add">Dodaj</a>
